.landingContainer{
    box-sizing: border-box;
    width: 100% !important;
    height: 100px;
    height: fit-content;
    background-color: var(--background);
    /* background-color: red; */
    position: relative;
}

